a:link{
  color: #ffffff
  text:decoration:none;
}
 body {
   background:black;
 }
a:visited{
  color: #ffffff
}

.menu {
  float: right;
  height:100px;
  width: 100%;
  display:inline;
  margin-right:0px;
  margin-top:-9px;
  background-color:#0c141a;
}
.menu ol{
  float:right;
  margin-top:30px;
  margin-right:50px;
  list-style:none;
}
.menu ol li{
  float:right;
  font-size:20px;
  margin-right: 20px;
  display:block;
}
.menu ol li a{
  display: block;
  text-decoration: none;
  padding: 5px 8px 0 10px;
}
.register{
  float:left;
  margin-left: 550px;
  margin-top: 50px;
}
#aa{
  float: left;
  margin-left: 620px;
  margin-top: 85px;
  color: black;
}
